body {
   font-family: 'Courier New', Courier, monospace;
}

.container {
   display: flex;
}

.column {
   flex: 1;
   padding: 20px;
   border: 1px solid #ccc;
   margin: 10px;
}

.header-format {
   font-size: 20px;
}

form{
   display: grid;
   grid-template-columns: auto 1fr;
}
form div  {
   display: grid ;
}

#packet {
   width: 150px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

#packet div:hover {
   border: 0.5px solid red;
}

#source-port:hover:before{
   content: "(SourcePort)\A";
}

#dest-port:hover:before{
   content: "(DestPort)\A";
}
#length:hover:before{
   content: "(Length)\A";
}
#checksum:hover:before{
   content: "(Checksum)\A";
}
#packdata {
   grid-column: span 2;
}
